:root {
    --background-color: #222327;
    --indicator-color: #29fd53;
    --navbar-color: white;
    --navbar-height: 70px;
    --svg-width: calc(var(--navbar-height) * 0.34);
    --text-font-size: calc(var(--navbar-height) * 0.17);
    --icon-translate-y: calc(var(--navbar-height) * -0.5);
}

.navbar-container {
    $nav-items: 5;


    width: 100%;
    height: var(--navbar-height);
    position: relative;
    background-color: var(--navbar-color);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;

    .list {
        display: flex;

        li {
            position: relative;
            list-style: none;
            width: var(--navbar-height);
            height: var(--navbar-height);
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;

                .icon {
                    position: relative;
                    display: block;
                    text-align: center;
                    transition: 0.5s;
                    color: var(--background-color);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: var(--navbar-height);

                    svg {
                        fill: currentColor;
                        width: var(--svg-width);
                        height: var(--svg-width);
                    }
                }

                .text {
                    position: absolute;
                    color: var(--background-color);
                    font-weight: 400;
                    font-size: var(--text-font-size);
                    letter-spacing: 0.05rem;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }

                &.active {
                    .icon {
                        transform: translateY(var(--icon-translate-y));
                    }

                    .text {
                        opacity: 1;
                        transform: translateY(10px);
                    }
                }
            }

            @for $i from 1 through $nav-items {
                &:nth-child(#{$i}):has(.active)~.indicator {
                    transform: translateX(calc(var(--navbar-height) * calc(#{$i} - 1)));
                }
            }
        }
    }

    .indicator {
        position: absolute;
        width: var(--navbar-height);
        height: var(--navbar-height);
        background-color: var(--indicator-color);
        top: -50%;
        border-radius: 50%;
        border: 6px solid var(--background-color);
        transition: 0.5s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 20px;
            height: 20px;
            background-color: transparent;
            box-shadow: 0px -10px 0 0 var(--background-color);
        }

        &::before {
            left: -22px;
            border-top-right-radius: 20px;
        }

        &::after {
            right: -22px;
            border-top-left-radius: 20px;
        }
    }
}