.navbar-container {
    width: 400px;
    height: 70px;
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: fixed;
    bottom: 0;

    .list {
        display: flex;
        width: 350px;

        li {
            position: relative;
            list-style: none;
            width: 70px;
            height: 70px;
            z-index: 1;

            a {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                text-align: center;

                .icon {
                    position: relative;
                    display: block;
                    line-height: 75px;
                    text-align: center;
                    transition: 0.5s;
                    color: var(--clr);

                    svg {
                        fill: currentColor;
                        width: 1.5rem;
                        height: 1.5rem;
                    }
                }

                .text {
                    position: absolute;
                    color: var(--clr);
                    font-weight: 400;
                    font-size: 0.75rem;
                    letter-spacing: 0.05rem;
                    transition: 0.5s;
                    opacity: 0;
                    transform: translateY(20px);
                }

                &.active {
                    .icon {
                        transform: translateY(-32px);
                    }

                    .text {
                        opacity: 1;
                        transform: translateY(10px);
                    }
                }
            }

            &:nth-child(1):has(.active)~.indicator {
                transform: translateX(calc(70px*0));
            }

            &:nth-child(2):has(.active)~.indicator {
                transform: translateX(calc(70px*1));
            }

            &:nth-child(3):has(.active)~.indicator {
                transform: translateX(calc(70px*2));
            }

            &:nth-child(4):has(.active)~.indicator {
                transform: translateX(calc(70px*3));
            }

            &:nth-child(5):has(.active)~.indicator {
                transform: translateX(calc(70px*4));
            }


        }
    }

    .indicator {
        position: absolute;
        width: 70px;
        height: 70px;
        background-color: #29fd53;
        top: -50%;
        border-radius: 50%;
        border: 6px solid var(--clr);
        transition: 0.5s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 20px;
            height: 20px;
            background-color: transparent;
            box-shadow: 0px -10px 0 0 var(--clr);
        }

        &::before {
            left: -22px;
            border-top-right-radius: 20px;
        }

        &::after {
            right: -22px;
            border-top-left-radius: 20px;
        }
    }
}