*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Arial;
    padding: 0;
    margin: 0;
}

:root {
    --clr: #222327
}


body {
    background-color: var(--clr);
    color: white;

}

#root {
    height: 100%;
}

.App {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}